@model GBC_Travel_Group23.Models.Flight

@{
    ViewData["Title"] = "AddFlight";
}

<h1>Add Flight</h1>

<h4>Flight</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="AddFlight" method="post">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Airline" class="control-label"></label>
                <input asp-for="Airline" class="form-control" />
                <span asp-validation-for="Airline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Plane" class="control-label"></label>
                <input asp-for="Plane" class="form-control" />
                <span asp-validation-for="Plane" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FlightCode" class="control-label"></label>
                <input asp-for="FlightCode" class="form-control" />
                <span asp-validation-for="FlightCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartureLocationId">Departure Location</label>
                <select asp-for="DepartureLocationId" class="form-control" asp-items="@ViewBag.DepartureLocationId"></select>
            </div>

            <div class="form-group">
                <label asp-for="ArrivalLocationId">Arrival Location</label>
                <select asp-for="ArrivalLocationId" class="form-control" asp-items="@ViewBag.ArrivalLocationId"></select>
            </div>

            <div class="form-group">
                <label asp-for="DepartureDate" class="control-label"></label>
                <input asp-for="DepartureDate" class="form-control" />
                <span asp-validation-for="DepartureDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArrivalDate" class="control-label"></label>
                <input asp-for="ArrivalDate" class="form-control" />
                <span asp-validation-for="ArrivalDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalSeats" class="control-label"></label>
                <input asp-for="TotalSeats" class="form-control" />
                <span asp-validation-for="TotalSeats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="oldIndex">Back To Add Page</a>
</div>


@section Scripts {

    <script>
        await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        $(document).ready(function () {
            
            var locationsData = @Html.Raw(Json.Serialize(ViewBag.LocationsData));

            var FromLocationDropdown = $("#FromLocationDropdown");
            $.each(locationsData, function (index, location) {
                FromLocationDropdown.append($('<option>', {
                    value: location,
                    text: location
                }));
            });

            var ToLocationDropdown = $("#ToLocationDropdown");
            $.each(locationsData, function (index, location) {
                ToLocationDropdown.append($('<option>', {
                    value: location,
                    text: location
                }));
            });


        });
    </script>
}
