@model IEnumerable<GBC_Travel_Group23.Models.Hotel>

@{
    ViewData["Title"] = "Hotel Search Results";
}

<h1>Hotel Search Results</h1>

<table>
    <thead>
        <tr>
            <th>Hotel Name</th>
            <th>Location</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var hotel in Model)
        {
            <tr>
                <td>@hotel.Name</td>
                <td>@hotel.Location.City, @hotel.Location.Country</td>
            </tr>
        }
    </tbody>
</table>
