@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Search Listings";
}

<div id="searchTabs">
    <ul>
        <li><a href="#flights">Flights</a></li>
        <li><a href="#carRentals">Car Rentals</a></li>
        <li><a href="#hotels">Hotels</a></li>
    </ul>
    <div id="flights">
        @Html.Partial("Flights", ViewBag.Flights as IEnumerable<GBC_Travel_Group23.Models.Flight>)
    </div>
    <div id="carRentals">
        @Html.Partial("CarRentals", ViewBag.CarRentals as IEnumerable<GBC_Travel_Group23.Models.CarRental>)
    </div>
    <div id="hotels">
        @Html.Partial("Hotels", ViewBag.Hotels as IEnumerable<GBC_Travel_Group23.Models.Hotel>)
    </div>
</div>

@section Scripts {
    <script>
        // Code to initialize tabs
        $("#searchTabs").tabs();
    </script>
}
