@page
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Search Form</h2>

<form method="post" asp-controller="Search" asp-action="SearchListings">
    <div>
        <label>I am looking for:</label>
        <div>
            <input name="searchHotels" type="checkbox" />
            <label>Hotels</label>

            <input name="searchCars" type="checkbox" />
            <label>Car Rentals</label>

            <input name="searchFlights" type="checkbox" />
            <label>Flights</label>
        </div>
    </div>

    <div>
        <label>Where are you coming from?:</label>
        <select required name="from" class="form-control" id="FromLocationDropdown"></select>
    </div>

    <div>
        <label>Where are you going?:</label>
        <select required name="to" class="form-control" id="ToLocationDropdown"></select>
    </div>

    <div>
        <label>Arrival Date:</label>
        <input required name="startDate" type="date" />
    </div>

    <div>
        <label>Departure Date:</label>
        <input required name="endDate" type="date" />
    </div>

    <button type="submit">Search</button>
</form>

@section Scripts {
    <script>
        $(document).ready(function () {
            // Assuming locationsData is a JavaScript array containing data in the format "City, Country"
            var locationsData = @Html.Raw(Json.Serialize(ViewBag.LocationsData));

            var FromLocationDropdown = $("#FromLocationDropdown");
            $.each(locationsData, function (index, location) {
                FromLocationDropdown.append($('<option>', {
                    value: location,
                    text: location
                }));
            });

            var ToLocationDropdown = $("#ToLocationDropdown");
            $.each(locationsData, function (index, location) {
                ToLocationDropdown.append($('<option>', {
                    value: location,
                    text: location
                }));
            });


        });
    </script>
}