@model GBC_Travel_Group23.ViewModels.SearchViewModel
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Search Form</h2>

<form method="post" asp-controller="Search" asp-action="SearchListings">
    <div>
        <label>I am looking for:</label>
        <div>
            <select name="searchOptions" asp-for="SearchOptions" class="form-control" multiple required>
                <option value="Hotels">Hotels</option>
                <option value="CarRentals">Car Rentals</option>
                <option value="Flights">Flights</option>
            </select>
        </div>
    </div>

    <div>
        <label>Where are you coming from?:</label>
        <select required name="From" asp-for="From" class="form-control" id="FromLocationDropdown"></select>
    </div>

    <div>
        <label>Where are you going?:</label>
        <select required name="To" asp-for="To" class="form-control" id="ToLocationDropdown"></select>
    </div>

    <div>
        <label>Arrival Date:</label>
        <input required name="StartDate" asp-for="StartDate" type="date" />
    </div>

    <div>
        <label>Departure Date:</label>
        <input required name="EndDate" asp-for="EndDate" type="date" />
    </div>

    <button type="submit">Search</button>
</form>

@section Scripts {
    <script>
        $(document).ready(function () {
            // Assuming locationsData is a JavaScript array containing data in the format "City, Country"
            var locationsData = @Html.Raw(Json.Serialize(ViewBag.LocationsData));

            var FromLocationDropdown = $("#FromLocationDropdown");
            $.each(locationsData, function (index, location) {
                FromLocationDropdown.append($('<option>', {
                    value: location,
                    text: location
                }));
            });

            var ToLocationDropdown = $("#ToLocationDropdown");
            $.each(locationsData, function (index, location) {
                ToLocationDropdown.append($('<option>', {
                    value: location,
                    text: location
                }));
            });


        });
    </script>
}