@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create Services</title>
</head>
<body>
    <div class="text-center">
        <div class="tabbed-create">

            <div id="add-flight-tab" class="tab active">
                <form id="add-flight-form" class="form" method="post" asp-controller="Listing" asp-action="AddFlight">
                    <button type="submit" class="btn btn-success">Add Flight</button>
                </form>
            </div>

            <div id="add-hotel-tab" class="tab">
                <form id="add-hotel-form" class="form" method="get" asp-controller="Listing" asp-action="AddHotel">
                    <button type="submit" class="btn btn-success">Add Hotel</button>
                </form>
            </div>

            <div id="add-car-rental-tab" class="tab">
                <form id="add-car-rental-form" class="form" method="post" asp-controller="Listing" asp-action="AddCarRental">
                    <button type="submit" class="btn btn-success">Add Car Rental</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        
        document.getElementById('add-hotel-form').addEventListener('submit', function(e) {
            //e.preventDefault(); 
            document.getElementById('add-hotel-room-section').style.display = 'block';
        });
    </script>
    

</body>
</html>
